@model IEnumerable<TashBlock.Models.Product>

@{
    ViewData["Title"] = "List";
}

<h1>List</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                SerialNo
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.Level3Id)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.CategoryId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SubCategoryId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CostPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SellingPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UnitofMaterial)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@{ var i = 0;}
@foreach (var item in Model) {
    i++;
        <tr>
            <td>
                @i
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.Level3Id)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.CategoryId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubCategoryId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CostPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SellingPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnitofMaterial)
            </td>

            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id, item.CategoryId, item.SubCategoryId, item.ProductName, item.ProductCode, item.CostPrice, item.SellingPrice, item.UnitofMaterial }, new { @class = "btn btn-success" }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-danger" })
            </td>
        </tr>
}
    </tbody>
</table>
