@model IEnumerable<task.Models.Student>

@{
    ViewData["Title"] = "StudentList";
}

<h1>StudentList</h1>

<p class="float-right">
    <a asp-action="Create" class="btn btn-outline-primary">Add New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Action</th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FName)
            </th>
           
            
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.ActionLink("Edit", "Create", new {  id=item.Id,item.Name,item.FName,item.Department,item.DepId },new { @class="btn btn-success"}) |
                @Html.ActionLink("Delete", "DeleteStd", new {  id=item.Id },new { @class = "btn btn-danger" })
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FName)
            </td>
           

        </tr>
}
    </tbody>
</table>
